.heroPageBox {
    padding: 13px;
}

.heroPageBox table {
    width: 100%;
}

.heroRowName {
    width: 25%;
}

.heroPageButtons {
    display: flex;
    justify-content: space-around;
    margin: 8px;
}

.editBtnTd {
    text-align: center;
    width: 15%;
}